# Jupyter
.ipynb_checkpoints/

# VS Code Jupyter virtual documents
.virtual_documents/

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
