backports.zoneinfo==0.2.1
certifi==2021.10.8
cycler==0.11.0
fonttools==4.33.3
imageio==2.18.0
Jinja2==3.1.1
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mistune==0.8.4
networkx==2.8
numpy==1.22.3
pandas==1.4.2
Pillow==9.1.0
PyMuPDF==1.19.6
pyparsing==3.0.8
PyPDF2==1.27.9
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32==302
reportlab==3.6.9
rpy2==3.4.5
scikit-image==0.19.2
scipy==1.8.0
tifffile==2022.4.26
tzdata==2022.1
tzlocal==4.2
webencodings==0.5.1
wincertstore==0.2